body {
  background: url(http://gamania.website/gta5/media/back/png.html) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Merriweather', sans-serif;
}

.verify h4 {
    text-align: center;
    font-weight: bold;
    font-size: 29px;
}

p {
    text-align: center;
    margin-top: 25px;
}

a.verify-redirect {
    text-align: center;
    background: black;
    padding: 7.5px 50px;
    border-radius: 50px;
    margin: 0 auto;
    display: table;
    margin-top: 25px;
    width: auto;
    color: white !important;
    font-size: 12px;
}

.pending {
    background: rgba(232, 232, 232, 0.27);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 25px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.pending h6 {
    font-weight: bold;
    font-size: 15px;
}


html, body {
  min-height: 100%;
}

header img {
      margin: 0 auto;
    display: block;
    margin-top: 50px;
    max-height: 150px;
    margin-bottom: 25px;
}

.white {
    background: white;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 25px;
}

header .container {
    color: white;
    max-width: 800px;
    text-align: center;
}

.container {
    max-width: 800px;
}

header h4 {
    max-width: 80%;
    text-align: center;
    color: white;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}


.title {
    background: rgb(62, 109, 179);
    padding: 15px;
    color: white;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 25px;
}


input.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: rgba(128, 128, 128, 0.15);
    margin-bottom: 25px;
    padding: 20px 15px;
}

.btn-default {
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    border-radius: 50px;
    width: 50%;
    padding: 10px;
    background: #3e6db3;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-default:hover {
    color: white;
    background-color: inherit;
    border-color: none;
    opacity: 0.5;
}

p.about {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.2px;
}

img.avatar {
    width: 75%;
    float: right;
}

.comment .col-md-1 {
    padding: 0;
}

.comments hr {
    border-top: 1px solid rgba(87, 89, 97, 0.67);
}

.comment i.fa {
    float: right;
    font-size: 18px;
    margin-top: 5px;
}

.poster {
    font-weight: bold;
}

.text {}

.comment.row {
    margin-bottom: 25px;
    position: relative;
}

.activity {
    position: fixed;
    background: #3e6db3;
    padding: 15px 50px;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    border-radius: 50px;
    font-size: 13px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: linear-gradient(-43deg,rgba(66,147,33,.95) 0,rgba(180,237,80,1) 100%);
}


footer {
    text-align: center;
    color: white;
    padding: 50px 0;
    padding-bottom: 100px;
}


.comments .col-md-1 {
    width: 8.33333333%;
    float: left;
}


.comments .col-md-11 {
    width: 91.66666667%;
    float: left;
}


.activity {
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.activity.hide-activity {
  opacity: 0;
}

.white-popup-block {
    background: white;
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
    padding: 25px 25px;
    border-radius: 5px;
}

.progress {
  width: 100%;
  height: 30px;
}

.secure {
    text-align: center;
    color: #74ab75;
}

.mfp-content h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}


.boxes .col-md-3 {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    margin-top: 25px;
    color: black;
    width: 23%;
    margin-right: 2.5%;
    padding: 25px 10px;
}

.row.boxes {
    margin-top: 25px;
}

.box-text .online {
    color: #a4df49;
    font-weight: bold;
    font-size: 18px;
}

.boxes .col-md-3:last-child {
    float: right;
    margin-right:0;
}

.box-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
    margin-bottom: 15px;
}

.box-text {
    text-align: center;
    font-size: 16px;
}

.input-group img {
    width: 24px;
}

span.input-group-addon {
    border: none;
    border-right: 2px solid rgba(171, 171, 171, 0.16) !important;
}

img.icon-verify {
    width: 15px;
    margin-right: 5px;
}

@media only screen and (max-width: 780px) {

    .activity {
        min-width: 90%;
        padding: 10px 15px;
        text-align: center;
        font-size: 12px;
    }

    .boxes .col-md-3 {
      width: 100%;
      margin-right: 0;
    }

    .container {
        width: 90%;
    }

}
